.bid_main_container
  display: grid
  grid-gap: 25px
  margin-top: 60px
  .bid_scene
    +flex_1
    padding-bottom: 5px
    border-bottom: 1px solid $linkBlue
    .bid_left
      display: grid
      grid-gap: 5px
      span
        +g-sb
        font-size: 14px
        line-height: 15px
        color: $blue_2
      
      .highest_price
        display: flex
        grid-gap: 2px
        align-items: flex-end
        p
          +g-b
          font-size: 30px
          line-height: 25px
          color: $textColor
        
        img
          width: 16px
          height: 11px
          margin-bottom: 2px

    .btn_blue
      min-width: 170px
  
  .bid_bottom_box
    display: flex
    grid-gap: 60px
    justify-content: space-between
    .bid_list_box
      display: grid
      grid-gap: 3px
      width: 100%
      p.title_bid
        +g-r
        font-size: 14px
        line-height: 16px
        color: $textColor_2
      .bid_list
        display: grid
        grid-gap: 10px
        .bid_row
          display: flex
          grid-gap: 7px
          padding: 10px 0
          border-bottom: .5px solid $leftLinkcolor
          &:first-child
            border-top: .5px solid $leftLinkcolor
          
          .bid_person_img
            width: 30px
            height: 30px
            display: flex
            img
              width: 100%
              height: 100%
              border-radius: 50%
          
          .bid_person_data
            display: grid
            grid-gap: 2px
            p
              display: flex
              &.person_name
                +g-b
                font-size: 14px
                line-height: 14px
                color: $textColor
              &.person_capacity
                +g-r
                font-size: 10px
                line-height: 12px
                color: $textColor_2
            
          .bid_right_box
            display: flex
            align-items: center
            grid-gap: 6px
            margin-left: auto
            .status_bid
              &.ascent
                svg
                  path
                    fill: $blue_3
                    stroke: $blue_3
              &.descent
                transform: rotate(180deg)
                svg
                  path
                    fill: $yellow
                    stroke: $yellow
            
            .bid_order
              display: flex
              align-items: center
              grid-gap: 2px
              p
                +g-b
                font-size: 14px
                line-height: 14px
                color: $textColor
      
    .bid_estimate_box
      flex: none
      width: 285px
      height: 230px
      padding: 20px 0
      background: $white
      box-shadow: 4px 4px 10px #F0F0F0
      border-radius: 35px
      p.estimate_title
        +g-b
        font-size: 18px
        line-height: 18px
        color: $textColor
        text-align: center
      
      .operation_box
        display: flex
        flex-direction: column
        justify-content: space-between
        margin-top: 14px
        grid-gap: 16px
        .operation_bid
          +flex_2
          align-items: flex-start
          input
            +g-b
            font-size: 35px
            line-height: 35px
            color: $textColor
            border: 0
            outline: 0
            text-align: center
            max-width: 150px
            padding: 0
          
          img
            width: 14px
            height: 10px
        
        .bid_btn
          margin: auto 38px