.main_container
  .broker_seller
    margin: 15px 0 0 20px
    display: flex
    flex-direction: column
    grid-gap: 30px
    max-width: 508px
    .main_title
      +g-b
      font-size: 20px
      line-height: 20px
      color: $textColor
    
    .main_list
      display: grid
      grid-gap: 15px
      width: 100%
      .main_row
        background: $backGray
        +flex_1
        border-radius: 25px
        padding: 12px 25px
        .main_left_row
          display: flex
          align-items: center
          grid-gap: 14px
          .naming_main
            display: grid
            grid-gap: 3px
            p
              &.name
                +g-b
                font-size: 16px
                line-height: 16px
                color: $textColor
              &.work
                +g-r
                font-size: 12px
                line-height: 16px
                color: $textColor_2

  .none_main
    max-width: 266px
    display: flex
    flex-direction: column
    grid-gap: 16px
    p
      +g-b
      font-size: 25px
      line-height: 30px
      color: $textColor
    
    button
      background: transparent
      border: none
      outline: none
      +g-m
      font-size: 15px
      line-height: 15px
      color: $blue_2
      padding: 0
      text-align: left