.body_form
  display: grid
  grid-gap: 57px
  padding-top: 14px
  
  p.form_text
    max-width: 590px
    +g-sb
    font-size: 16px
    line-height: 20px
    color: $textColor

  .complainForm
    display: grid
    grid-gap: 15px
    width: 100%
    .radio_box
      display: grid
      grid-gap: 15px
      label
        +flex_1
        padding-bottom: 15px
        +g-m
        font-size: 16px
        line-height: 16px
        border-bottom: .5px solid $leftLinkcolor
        cursor: pointer
    
    .textarea_label
      display: grid
      grid-gap: 5px
      margin-top: 3px
      +g-m
      font-size: 16px
      line-height: 16px
      color: $textColor_2
      textarea
        height: 84px
        border: 0.5px solid $leftLinkcolor
        border-radius: 5px
        padding: 5px
        outline: none
        resize: none
      
