.contact
  position: relative
  .contact_main_container
    display: grid
    grid-template-columns: 45% 55%
    min-height: 100vh
    max-height: 850px
    position: relative
    z-index: 2
    .goBack
      background-color: transparent
      display: flex
      align-items: center
      grid-gap: 7px
      +g-r
      font-size: 16px
      line-height: 16px
      color: $blue_1
      border: none
      outline: none
      cursor: pointer

    .left_contact
      display: flex
      flex-direction: column
      justify-content: space-between
      padding: 12px 0 35px
      padding-left: calc((100vw - 1200px) / 2)

      .contact_center
        display: grid
        grid-gap: 38px
        max-width: 300px
        .contact_title
          margin-bottom: 10px
          color: $textColor
          +g-b
          font-size: 40px
          line-height: 40px
        .contact_row
          display: flex
          align-items: flex-start
          grid-gap: 10px
          .con_img
            +flex_2
            min-width: 30px
            min-height: 30px
          p
            +g-m
            font-size: 20px
            line-height: 25px
            color: $textColor

      .contact_social
        display: flex
        align-items: center
        grid-gap: 30px

    .right_contact
      +flex_2
      padding-right: calc((100vw - 1200px) / 2)
      .goBack
        display: none
      .center_right
        max-width: 410px
        margin: 0 auto
        +flex_2
        flex-direction: column
        grid-gap: 43px
        p
          +g-sb
          font-size: 34px
          line-height: 40px
          color: $white
          text-align: center
  
  .absolute_contact
    position: absolute
    right: 0
    top: 0
    width: 55%
    height: 100%
    background: url('./img/world.png') , linear-gradient(208.67deg, #09306D 24.16%, #2196F3 100%)
    background-position: bottom center
    background-size: cover
    z-index: 1

