.driver_list
  max-width: 508px
  display: grid
  grid-gap: 15px
  margin-top: 30px
  .driver-item
    display: flex
    align-items: center
    background: $backGray
    padding: 12px 25px
    border-radius: 25px
    .driverImg
      width: 40px
      height: 40px
      img
        border-radius: 50%
        width: 100%
    
    .same_grid
      display: grid
      grid-gap: 4px
      p
        text-align: right
      
      p.text_grid
        +g-b
        font-size: 16px
        line-height: 16px
    
      &.driver-name-box
        margin-left: 14px
        p.driver-name
          color: $textColor
        
        .stars_driver
          display: flex
          align-items: center
          grid-gap: 5px
          span
            width: 12px
            height: 12px
            background-image: url('../public/img/empty_star.svg')
            background-size: cover
            background-position: center
            background-repeat: no-repeat
            &.active
              background-image: url('../public/img/full_star.svg')
    
      &.weight_type
        margin-left: auto
        p.car-weight
          color: $borderBlue
        
        p.car-type
          color: $leftLinkcolor
          +g-m
          font-size: 14px
          line-height: 12px
  
.see_in_map
  margin-left: auto
  margin-right: calc((100vw - 1200px) / 2 )