footer
  position: relative
  background: linear-gradient(203.23deg, #09306D 0.17%, #2196F3 168.67%)
  padding: 16px 0 13px
  margin-top: auto
  .footer_container
    +flex_1
    .footer_left
      display: flex
      flex-direction: column
      grid-gap: 10px
      .social_footer_box
        display: flex
        align-items: center
        grid-gap: 13px
        a
          display: flex
        
      p
        margin: 0
        color: white
        +g-r
        font-size: 12px
        line-height: 12px
    
    .footer_center
      display: flex
      flex-direction: column
      grid-gap: 3px
      p
        margin: 0
        color: white
        +g-r
        font-size: 12px
        line-height: 12px
      
      .downloadFile
        display: flex
        grid-gap: 5px
        a
          display: flex
          img
            width: 103px
            height: 31px
    
    .footer_company
      display: flex
      p
        display: none
        margin: 0
        color: white
        +g-r
        font-size: 12px
        line-height: 12px
      a
        display: flex
        span
          display: flex
          height: max-content
          align-self: flex-end
          margin-left: -40px
          +g-m
          font-size: 10px
          line-height: 10px
          color: white