.title_accordion
  margin: 0 !important

.MuiAccordionSummary-content
  margin: 16px 0 !important

.MuiAccordionDetails-root
  padding: 0 0 15px !important
  border-bottom: .5px solid #AEB5BC
  border-top: 0 !important
  background-color: $background

.MuiAccordionSummary-root 
  border-bottom: .5px solid #AEB5BC
  &.Mui-expanded
    border: 0 !important

.guest_container
  display: grid
  grid-template-columns: 35% 65%
  background-color: $background
  height: calc( 100vh - 76px - 104px )
  .guest_right
    .same-title-guest
      margin-bottom: 19px
      +g-b
      font-size: 25px
      line-height: 25px
      color: $blue_1
    
    .map
      height: 415px
    
    .map_desc
      display: flex
      grid-gap: 3px
      max-width: 560px
      +g-r
      font-size: 14px
      line-height: 18px
      color: $blue_1
      margin-top: 16px
      margin-left: 26px
      span
        +g-b
        font-size: 25px
        line-height: 29px
        color: $yellow
        margin-top: -3px


    .swiper-mock
      margin: 72px 0 72px 39px
      .swiper
        .custom_navigation
          display: flex
          align-items: center
          justify-content: flex-end
          grid-gap: 21.5px
          margin-top: 12.5px
          margin-right: 125px
          button
            +flex_2
            background: none
            padding: 0
            outline: none
            border: none
            cursor: pointer
            &.prev_btn
              transform: rotate(180deg)
    
    .accordion
      margin-left: 39px
      max-width: 690px
      .MuiAccordionSummary-root
        padding: 0 !important
        .accordion_title
          +g-m
          font-size: 16px
          line-height: 16px
          color: $textColor
        
      .accordion_content
        +g-r
        font-size: 14px
        line-height: 20px
        color: $textColor_2
    
    .hot_line
      display: flex
      grid-gap: 16px
      max-width: 335px
      margin: 80px auto 35px
      .hot_right
        display: flex
        flex-direction: column
        grid-gap: 12px
        p
          +g-r
          font-size: 18px
          line-height: 22px
          color: $blue_1
        
        button
          +flex_2
          width: 182px
          height: 40px
          background: $blue_2
          +g-b
          font-size: 14px
          line-height: 14px
          color: $white
          box-shadow: 4px 4px 6px rgba(13, 71, 161, 0.3)
          border-radius: 25px
          border: none
          outline: none
          cursor: pointer
  
  .left-simplebar
    .simplebar-content-wrapper
      .simplebar-content
        height: 100%

        .guest_left
          display: flex
          flex-direction: column
          grid-gap: 45px
          justify-content: space-between
          height: 100%
          padding:  90px 0
          box-shadow: 4px 4px 10px #F0F0F0
          
          .left_same_box
            display: flex
            flex-direction: column
            grid-gap: 15px
            margin-left: calc( (100vw - 1200px) / 2 )
            max-width: 347px
            .order_left_title
              +g-b
              font-size: 30px
              line-height: 30px
              color: $blue_1
            
            .order_left_body
              +g-m
              font-size: 16px
              line-height: 22px
              color: $textColor
            button
              +flex_1
              margin-top: 10px
              width: 182px
              height: 40px
              padding: 0 16px
              border-radius: 25px
              +g-b
              font-size: 14px
              line-height: 14px
              color: $white
              background: $linkBlue
              box-shadow: 4px 4px 6px rgba(13, 71, 161, 0.3)
              border: 0
              outline: none
              cursor: pointer
            
            &.client_left_box
              button
                background: $yellow
    
