.headerlink
  padding: 0 !important

.links
  text-transform: initial
  color: white
  +g-m
  font-size: 16px
  line-height: 16px
  padding: 0

.MuiContainer-root
  padding: 0 !important

header
  box-shadow: unset !important
  background: linear-gradient(195.91deg, #09306D 45.68%, #2196F3 128.98%)
  padding: 20px 0
  .box-header-links
    display: flex
    margin-right: 28px
    grid-gap: 30px
    margin-left: auto

  .reglog_box
    display: flex
    grid-gap: 28px
    margin-right: 28px
    .reglogBtn
      background: transparent
      +flex_2
      +g-b
      font-size: 16px
      line-height: 16px
      color: white
      height: 40px
      padding: 0 25px
      border: 1px solid #FFFFFF
      border-radius: 34px
      &.fillBtn
        background: white
        color: #013875

  .languages_box
    display: flex
    grid-gap: 7px
    button
      background: transparent
      border: none
      outline: none
      padding: 0
      +g-r
      font-size: 16px
      line-height: 16px
      color: white

      &:nth-of-type(1)
        padding-right: 7px
        border-right: 1px solid white      

  .hamburger-menu
    background: none
    display: none
    border: none
    outline: none
    padding: 0