.history
  margin: 80px 15px 60px 120px
  .history_title
    width: 100%
    +g-b
    font-size: 20px
    line-height: 20px
    color: $textColor

  .history_container
    +flex_1
    align-items: flex-start
    margin-top: 14px
    .history_box
      display: grid
      grid-gap: 15px
      max-width: 385px
      width: 100%
      margin-top: 12px
      .history-item
        background: $backGray
        +flex_5
        padding: 12px 20px 7px
        height: 85px
        border: 3px solid $white
        border-radius: 16px
        .item_top
          +flex_1
          align-items: flex-start
        
        .item_bottom
          +flex_1
          >p
            align-items: center
            img
              margin-bottom: 3px
          .status_code
            +flex_1
            grid-gap: 5.6px
            p
              +g-b
              font-size: 10px
              line-height: 10px
              color: $textColor

    .history_search_form
      display: grid
      width: 100%
      max-width: 330px
      grid-template-columns: 1fr 1fr
      grid-gap: 15px
      label
        &.calendarLabel
          display: grid
          grid-gap: 2px
          +g-m
          font-size: 10px
          line-height: 10px
          color: $blue_2
          .form-input-group
            background: $backGray
            +flex_1
            height: 46px
            border-radius: 5px
            padding: 0 15px
            input
              background: transparent
              width: 100%
              +g-m
              font-size: 14px
              line-height: 16px
              color: $textColor
              border: none
              outline: none
              &::placeholder
                color: $leftLinkcolor
        
        &.selectLabel
          background: $backGray
          +flex_1
          height: 46px
          border-radius: 5px
          padding: 0 15px
          grid-column-start: 1
          grid-column-end: 3
          
          >div
            width: 100%

            .css-qc6sy-singleValue , .css-6j8wv5-Input
              +g-m
              font-size: 16px !important
              line-height: 16px !important
              color: $textColor !important
            
            .css-319lph-ValueContainer
              padding: 0
            
            .css-1pahdxg-control
              background: transparent
              outline: none
              border: none
              box-shadow: none

            .css-1s2u09g-control
              background: transparent
              border: none
              outline: none
              .css-319lph-ValueContainer
                outline: none
                padding: 0 
                margin: 0
                
            .css-1okebmr-indicatorSeparator
              display: none
            
            .css-tlfecz-indicatorContainer ,  .css-1gtu0rj-indicatorContainer
              padding: 0
              transform: rotate(-90deg)
              .css-tj5bde-Svg
                fill: unset

        &.buttonLabel
          grid-column-start: 1
          grid-column-end: 3

          button[type='submit']
            height: 46px
            width: 100%
  
  &.balance_history
    max-width: 690px
    .balance_box
      display: grid
      width: 100%
      grid-gap: 10px
      &:nth-of-type(1)
        margin-top: 16px
      
      &:not(:last-child)
        margin-bottom: 40px
      
      p.item-date
        +g-m
        font-size: 14px
        line-height: 14px
        color: $textColor_2
        padding-bottom: 7px
        border-bottom: .5px solid $leftLinkcolor
      
      .balance_row
        display: grid
        grid-template-columns: auto 1fr
        grid-gap: 21px
        align-items: center
        padding-bottom: 10px
        border-bottom: 1px solid $leftLinkcolor
        &:not(:last-child)
          margin-bottom: 10px
        
        .balance_img
          background: $backGray
          +flex_2
          width: 40px
          height: 40px
          border-radius: 50%
        
        .balance_content
          +flex_1
          p.payment-text
            +g-sb
            font-size: 16px
            line-height: 16px
            color: $textColor
          .balance_info
            display: grid
            grid-gap: 2px
              
            p.payment_type
              +g-r
              font-size: 12px
              line-height: 12px
              color: $textColor_2
          
          .balance_payment_price
            +flex_1
            grid-gap: 3px
            img
              margin-top: 2px
              +flex_2
              width: 12px
              height: 9px

  &.balance_add
    max-width: 700px 
    .balance_operation
      margin-top: 16px
      p.level-text
        +g-b
        font-size: 16px
        line-height: 20px
        color: $blue_2
      
      .nav-tabs
        border: none
        grid-gap: 30px
        button
          background: transparent
          +flex_2
          width: 153px
          height: 120px
          padding: 0
          border: 1px solid $textColor_2
          border-radius: 10px
          opacity: .5
          transition: opacity .3s

          &:hover
            opacity: 1
            
          div
            display: flex
            flex-direction: column
            grid-gap: 5px
            +g-b
            font-size: 14px
            line-height: 14px
            color: $blue_2
            img
              max-height: 70px
              max-width: 80px
          
          &.active
            opacity: 1
      
      .tab-content
        margin-top: 35px

        .money_tab
          display: flex
          align-items: flex-start
          grid-gap: 37px
          .btn-prices
            display: flex
            flex-wrap: wrap
            grid-gap: 10px
            width: 322px
            button
              background: $backGray
              +flex_2
              grid-gap: 4px
              min-width: 70px
              height: 46px
              +g-m
              font-size: 16px
              line-height: 16px
              color: $textColor
              border-radius: 5px
              border: none
              &.active
                border: 1px solid $blue_1

          .result_box
            width: 285px
            padding: 25px 35px
            background: $white
            box-shadow: 4px 4px 10px #F0F0F0
            border-radius: 35px
            .title-result
              +g-m
              font-size: 16px
              line-height: 18px
              color: $textColor
              text-align: center
            
            .result_price
              +g-b
              font-size: 20px
              line-height: 28px
              color: $textColor
              text-align: center
              margin-top: 5px

            .submit-balance
              width: 100%
              margin-top: 15px
        
        .accordion
          display: grid
          grid-gap: 30px
          margin-top: 13px
          .card
            border: 0
            background: none
            border-radius: 0
            .card-header
              background: none
              +flex_1
              justify-content: flex-start
              grid-gap: 9px
              padding: 0
              +g-sb
              font-size: 20px
              line-height: 20px
              color: $textColor
              border-radius: 0
              border: 0
              img
                transition: transform .3s
                &.active
                  transform: rotate(90deg)
            
            .card-body
              padding: 0
              .banknote-box
                display: grid
                grid-template-columns: repeat(2,1fr)
                grid-gap: 30px
                width: 100%
                margin-top: 7px
                .banknote-item
                  position: relative
                  display: flex
                  height: 200px
                  img
                    width: 100%
                    height: 100%
                    border-radius: 10px
                  
                  p.number-img
                    position: absolute
                    background-color: $background
                    left: 6px
                    top: 8px
                    +flex_2
                    width: 30px
                    height: 30px
                    +g-b
                    font-size: 20px
                    line-height: 20px
                    color: $linkBlue
                    border-radius: 50%
  
  &.cars_container
    max-width: 690px
    .car-item
      background: $backGray
      +flex_1
      align-items: flex-start
      width: 100%
      padding: 15px 17px 8px 23px
      border-radius: 16px
      border: 3px solid $white
      &:nth-of-type(1)
        margin-top: 15px
      &:not(:last-child)
        margin-bottom: 15px
      
      p.car-name
        width: 150px
        +g-b
        font-size: 16px
        line-height: 20px
        color: $textColor
      
      table
        width: 260px
        border-collapse: separate
        border-spacing: 0 9px
        tr
          &:not(:last-child)
            th , td
              border-bottom: .5px solid $leftLinkcolor
              padding-bottom: 7px

            // margin-bottom: 9px
          
          th , td
            font-size: 12px
            line-height: 12px

          th
            +g-m
            color: $textColor_1

          td
            +g-b
            color: $textColor_2

      .car_truck_img
        position: relative
        p
          position: absolute
          margin: 0 auto
          top: 3px
          text-align: center
          left: 25px
          right: 0
          +g-b
          font-size: 16px
          line-height: 19px
          &.free
            color: $borderBlue
          
          &.busy
            color: red