.indexPage
  background-color: $background
  padding-bottom: 86px
  .landing_page
    position: relative
    min-height: 100vh
    display: flex
    justify-items: center
    align-items: center
    padding-top: 150px
    padding-bottom: 120px
    &::after
      content: ''
      position: absolute
      right: 0
      top: 0
      height: 100%
      width: 50%
      background: linear-gradient(208.67deg, #09306D 24.16%, #2196F3 100%)
      z-index: 1
    .landing_1400
      position: relative
      max-width: 1400px
      width: 100%
      margin: 0 auto
      z-index: 2
      overflow: hidden
      .truckBig
        position: absolute
        right: -20px
        top: 0
      .inner_container
        position: relative
        width: 100%
        border-radius: 50px
        &::after
          content: ''
          position: absolute
          background: rgba(255, 255, 255, 0.16)
          backdrop-filter: blur(14px)
          width: 100%
          height: 100%
          left: 0
          top: 0
          border-radius: 50px
        
        .inner_landing
          position: relative
          z-index: 2
          padding: 109px 0 127px
          max-width: 566px
          margin-left: 75px
          .head_left
            margin-bottom: 28px
            p
              +g-sb
              font-size: 20px
              line-height: 20px
              color: $textColor
            
            h2
              +g-b
              font-size: 65px
              line-height: 65px
              color: $yellow

          .inner_content
            +g-b
            font-size: 35px
            line-height: 35px
            color: $textColor

          .foot_left
            display: flex
            flex-direction: column
            grid-gap: 3px
            margin-top: 90px
            p
              +g-r
              font-size: 14px
              line-height: 17px
              color: $textColor
            div
              display: flex
              grid-gap: 25px
  
  .index_about
    margin: 65px 0 100px
    .index_part_1_1400
      position: relative
      max-width: 1400px
      width: 100%
      min-height: 770px
      padding-top: 85px
      margin: 0 auto
      .city_map
        position: absolute
        right: 0
        top: 0
      
      &::after
        position: absolute
        content: ''
        left: 0
        top: 0
        width: 100%
        height: 100%
        background: linear-gradient(210.58deg, rgba(249, 249, 249, 0) 14.57%, rgba(252, 252, 252, 0.545668) 27.21%, #FCFCFC 39.53%, #FAFAFA 57.69%, #FCFCFC 73.2%)

      .container
        position: relative
        z-index: 2
        .row
          .about_title
            +g-eb
            font-size: 45px
            line-height: 45px
            color: $textColor

      .road_box
        .big_road
          position: relative
          z-index: 2
          width: 100%
          height: 500px
          >img
            height: 100%
            width: 100%

        .about_single_data
          position: relative
          z-index: 2
          display: flex
          grid-gap: 12px
          text-decoration: none
          position: absolute
          .about_data_left
            background-color: $background
            +flex_2
            width: 39px
            height: 39px
            border-radius: 50%
            border: 1px dashed $textColor
            margin-top: -8px
            div
              width: 23px
              height: 23px
              background-color: $textColor
              border-radius: 50%
          
          .about_data_right
            display: grid
            grid-gap: 6px
            max-width: 295px
            p
              margin-bottom: 0
              word-break: break-word
              &.about_data_title
              +g-b
              font-size: 20px
              line-height: 22px
              color: $blue_2
            
              &.about_data_content
                +g-r
                font-size: 14px
                line-height: 17px
                color: $textColor
                max-height: 34px
                word-break: break-word
                overflow: hidden
                text-overflow: ellipsis
                display: -webkit-box
                -webkit-box-orient: vertical
                -webkit-line-clamp: 2

          &:nth-of-type(1)
            left: 50px
            top: 148px

          &:nth-of-type(2)
            left: 26%
            bottom: 31%

          &:nth-of-type(3)
            right: 18%
            bottom: 46%

    .index_part_2_1400
      max-width: 1400px
      width: 100%
      margin: 0 auto
      position: relative
      .truck_2
        position: absolute
        top: 0
        left: 0
      .about_content_box
        position: relative
        max-width: 560px
        margin-left: auto
        padding: 55px 45px 40px
        border: 3px solid $textColor
        filter: drop-shadow(9px 11px 5px rgba(0, 0, 0, 0.19))
        border-radius: 40px

        .left_ellipse_start
          position: absolute
          left: -53px
          top: -48px
          background-color: #F9F9F9
          +flex_2
          width: 106px
          height: 106px
          border-radius: 50%
          .inner_ellipse
            background-color: $yellow
            +flex_2
            width: 62px
            height: 62px
            border-radius: 50%

        .inner_content_box
          display: grid
          grid-gap: 30px
          .about_row
            display: flex
            align-items: flex-start
            grid-gap: 10px
            p
              +g-b
              font-size: 20px
              line-height: 25px
              color: $textColor
              word-break: break-word

  .index_swiper
    max-width: 1400px
    width: 100%
    margin: 100px auto 0
    .index_swiper_title
      margin-bottom: 25px
      +g-eb
      font-size: 45px
      line-height: 45px
      color: $textColor
    .swiper
      padding: 25px 0
      .swiper-slide
        transition: transform .3s
        &.swiper-slide-active
          transform: scale(1.15)
        
        .text-date
          font-size: 13px
          line-height: 15px

  .index_accordion
    max-width: 995px
    margin: 105px auto 0
    .accordion_index_title
      max-width: 630px
      margin: 0 auto
      +g-eb
      font-size: 45px
      line-height: 45px
      margin-bottom: 33px
      color: $textColor
      text-align: center
    .accordion
      display: grid
      grid-gap: 40px
      .card
        border: 0
        border-bottom: 1px solid #AEB5BC
        border-radius: 0
        .card-header
          background-color: $background
          +flex_1
          padding: 0 0 5px
          +g-b
          font-size: 25px
          line-height: 25px
          color: $textColor
          border: 0
          span
            +g-m
            font-size: 20px
            line-height: 20px
        
        .card-body
          background-color: $background
          padding: 15px 0
          +g-r
          font-size: 16px
          line-height: 22px
          color: $textColor