.main_innerload_container
  display: grid
  grid-template-columns: 1fr auto
  grid-gap: 38px 30px
  margin: 85px 25px 65px 120px
  
  .load_info_left
    .load_breadcrump
      +flex_1
      .load_status
        +flex_1
        grid-gap: 3px
        p
          +g-b
          font-size: 12px
          line-height: 12px
          color: $textColor
    
    .loads_inner
      margin-top: 30px
      .inner_heading
        padding-bottom: 18px
        margin-bottom: 15px
        +g-sb
        font-size: 16px
        line-height: 25px
        color: $textColor
        border-bottom: .5px solid $leftLinkcolor
        border-radius: .5px
      

      .download_link
        +flex_1
        margin-top: 12px
        padding-bottom: 12px
        +g-eb
        font-size: 14px
        line-height: 20px
        color: $blue_1
        border-bottom: .5px solid $leftLinkcolor
        border-radius: .5px

      .delivered_info_box
        margin: 14px 0 18px
        display: flex
        grid-gap: 9px
        .delivered_same
          display: grid
          grid-gap: 2px
          p
            &.title
              +g-r
              font-size: 10px
              line-height: 12px
              color: $blue_2
            
            &.name
              +flex_2
              width: 142px
              height: 34px
              padding: 0 5px
              color: $blue_1
              +g-b
              font-size: 12px
              line-height: 12px
              border-radius: 5px
              background-color: $deliveredBlue
  
        .dashed_line
          width: 135.5px
          height: 0
          border: 1px dashed $deliveredBlue
          margin-top: auto
          margin-bottom: 16px

    .load_map_box
      display: flex
      justify-content: space-between
      grid-gap: 100px
      margin-top: 65px
      .load_map_data
        display: flex
        .loc_box
          display: flex
          flex-direction: column
          justify-content: space-between
          grid-gap: 6px
          align-items: center
          .line
            background-color: $blue_2
            width: 1px
            height: 100%
        
        .position_box
          display: flex
          flex-direction: column
          justify-content: space-between
          margin-left: 8px
          .same_pos_box
            display: flex
            flex-direction: column
            grid-gap: 3px
            .same_city
              +g-b
              font-size: 14px
              line-height: 14px
              color: $textColor

            .same_place
              +g-r
              font-size: 10px
              line-height: 10px
              color: $textColor_2

          .distance
            position: relative
            +g-b
            font-size: 10px
            line-height: 10px
            color: $yellow
            .timeline
              position: absolute
              background-color: $white
              width: 6px
              height: 6px
              border-radius: 50%
              border: 1px solid $yellow
              left: -21px
              top: 1px
              &::before
                content: ''
                position: absolute
                background-color: $yellow
                height: .5px
                width: 7px
                left: 100%
                top: 2px

      .map_template
        position: relative
        max-width: 406px
        height: 153px
        img
          border-radius: 20px
          width: 100%
          height: 100%
        
        p
          position: absolute
          +g-b
          font-size: 16px
          line-height: 16px
          color: $textColor
          top: 50%
          left: 50%
          transform: translate(-50%, -50%)

  .contact_load
    margin-top: auto
    position: relative
    display: grid
    grid-gap: 3px
    button
      &.contact_btn
        background-color: $blue_2
        +flex_2
        flex-direction: column
        grid-gap: 3px
        width: 65px
        height: 65px
        border-radius: 50px
        border: none
        outline: none
        box-shadow: 4px 4px 8px rgba(207, 212, 217, 0.7)
        p
          +g-b
          font-size: 10px
          line-height: 10px
          color: $white
    
    .other_btns
      +flex_2
      min-width: 100%
      grid-gap: 11px
      opacity: 0
      visibility: hidden
      transition: opacity .3s
      button
        background-color: $blue_1
        +flex_2
        height: 51px
        min-width: 51px
        border-radius: 50%
        border: none
        outline: none
      
      &.show
        opacity: 1
        visibility: visible
    
  .submit_btns
    display: flex
    align-items: center
    justify-content: flex-end
    grid-gap: 25px
    grid-row: 2
    button
      font-size: 16px
      line-height: 16px
