.loads_list
  display: grid
  grid-gap: 10px
  margin-top: 10px
  max-width: 775px
  .load_row
    display: flex
    align-items: center
    grid-gap: 22px
    justify-content: space-between
    .loads_box
      display: flex
      align-items: center
      background: $backGray
      width: 100%
      padding: 12px 15px 7px 22px
      color: $textColor
      border: 3px solid $white
      box-shadow: 4px 4px 10px #F0F0F0
      border-radius: 16px
      .load_left
        display: grid
        grid-gap: 14px
        .loads_name
          +g-b
          font-size: 16px
          line-height: 16px
          color: $textColor
          max-width: 215px
          max-height: 32px
          word-break: break-word
          overflow: hidden
          text-overflow: ellipsis
          display: -webkit-box
          -webkit-box-orient: vertical
          -webkit-line-clamp: 2
        .loads_price_list
          +flex_1
          grid-gap: 15px
          p.price
            span
              display: flex
          
          .status_code
            +g-b
            font-size: 10px
            line-height: 10px
            color: $textColor
            p
              display: flex
              align-items: center
              grid-gap: 2.5px

      .load_road
        display: flex
        flex-direction: column
        justify-content: space-between
        grid-gap: 20px
        margin-left: 20px
        padding-left: 20px
        border-left: .5px solid $leftLinkcolor
        .date_distance
          display: flex
          align-items: center
          grid-gap: 20px
          .date
            +g-m
            font-size: 12px
            line-height: 12px
            color: $textColor_2
          .distance_box
            display: flex 
            align-items: flex-end
            .distance_text
              +g-sb
              font-size: 10px
              line-height: 10px
              color: $yellow
              padding: 0 5px
              border-bottom: 0.8px solid #F79824
              margin: 0 -2px 1px
            
            .loc_img_box
              width: 14px
              height: 14px
              display: flex
              img
                width: 100%

        
        .road_map
          display: flex
          grid-gap: 15px
          align-items: flex-start
          .road_stroke
            width: 17px
            height: 1px
            background-color: $blue_2
            margin-top: 10px
          .same_road
            display: grid
            grid-gap: 3px
            p
              &.city
                +g-m
                font-size: 14px
                line-height: 14px
                color: $textColor
              
              &.country
                +g-r
                font-size: 10px
                line-height: 10px
                color: $textColor_2

      .right_go_inner
        margin-left: auto

    .loads_btns
      display: grid
      min-width: 142px
      grid-gap: 6px
      flex: none
      &.advertisement_btn
        width: 183px
        a
          width: 100%
          height: 34px
