.notification_main_container
  max-width: 690px
  margin: 80px 0 50px 120px
  p.date_not
    +g-m
    font-size: 12px
    line-height: 12px
    color: $leftLinkcolor
    text-align: center

  .head_notification
    position: relative
    +flex_2
    justify-content: flex-start
    margin-bottom: 16px
    button
      position: relative
      background: none
      +flex_2
      border: none
      outline: none
      z-index: 2
    p.title_not
      position: absolute
      +flex_2
      left: 0
      right: 0
      margin: 0 auto
      +g-b
      font-size: 20px
      line-height: 20px
      color: $textColor
  
  .body_notification
    display: grid
    grid-gap: 60px
    width: 100%
    .row_notification
      display: grid
      width: 100%
      grid-gap: 27px
      .nt_table
        display: grid
        grid-gap: 22px
        .row_nt
          +flex_1
          padding-bottom: 22px
          padding-left: 6px
          padding-right: 6px
          border-bottom: 0.5px solid $leftLinkcolor
          &:first-child
            padding-top: 22px
            border-top: 0.5px solid $leftLinkcolor
          
          .left_nt
            display: grid
            grid-template-columns: auto 1fr
            grid-gap: 10px
            align-items: center
            .status_nt
              width: 10px
              height: 10px
              &.not_read
                border-radius: 50%
                background-color: $yellow
            
            .text_nt
              +g-sb
              font-size: 14px
              line-height: 18px
              color: $textColor

  .notification_inner_body
    .nt_inner_heading_text
      margin: 27px 0 15px
      padding: 35px 0
      display: grid
      grid-gap: 5px
      border-top: 1px solid $blue_2
      border-bottom: 1px solid $leftLinkcolor
      p
        color: $textColor
        &.inner_head
          +g-b
          font-size: 16px
          line-height: 20px
      
        &.inner_body
          +g-r
          font-size: 14px
          line-height: 22px

    .btn_blue
      margin-top: 15px
      min-width: 129px
  
  .download-chat-ui
    display: flex
    flex-direction: column
    max-height: 100%
    .chat-body
      display: flex
      flex-direction: column
      grid-gap: 30px
      .message-text
        max-width: 240px
        width: max-content
        padding: 10px 20px
        background: $chatGray
        +g-m
        font-size: 15px
        line-height: 17px
        color: $textColor
        border-radius: 10px 10px 10px 0px

      .profile-avatar
        +flex_1
        justify-content: flex-end
        grid-gap: 8px

        p
          +g-m
          font-size: 12px
          line-height: 12px
          color: $textColor
        
        .avatar-img
          width: 34px
          height: 34px
          padding: 2px
          border-radius: 50%
          border: 1px solid $linkBlue
          img
            width: 100%
            height: 100%
            border-radius: 50%

      .chat-box
        max-width: 250px
        flex: none
        align-self: self-end
        width: 100%
        .message-text
          border-radius: 10px 10px 0 10px
        .user-message-box
          display: flex
          flex-direction: column
          align-items: flex-end
          grid-gap: 5px
        
        &.chat-left
          align-self: self-start
          .user-message-box
            align-items: flex-start
            .profile-avatar
              flex-direction: row-reverse

    .chat-footer
      margin-top: auto
      .form-chat-right
        display: flex
        align-items: center
        grid-gap: 14px
        .label-file
          &::after
            display: none
          
          input
            visibility: hidden
            width: 0
            height: 0
      .message-form
        background-color: $backGray
        +flex_1
        grid-gap: 35px
        width: 100%
        height: 50px
        padding: 2px 4px 2px 20px
        border-radius: 31px
        input.input-message
          background: none
          width: 100%
          +g-sb
          font-size: 15px
          line-height: 17px
          color: $textColor
          border: none
          outline: none


        button[type='submit']
          background-color: $blue_2
          +flex_2
          height: 46px
          width: 46px
          border-radius: 50%
          box-shadow: 0px 4px 8px rgba(174, 181, 188, 0.7)
          flex: none
          border: none
          outline: none

