.main_theme_container
  display: grid
  grid-template-columns: 28% 1fr
  width: 100%
  height: calc( 100vh - 76px - 104px)
  .simplebar-track.simplebar-vertical .simplebar-scrollbar:before
    opacity: 1
    background: gray
  .leftBar
    max-width: 385px
    padding-bottom: 100px
    .left_dropdown
      width: 100%
      margin: 50px 0 43px
      position: relative
      button
        +flex_1
        background: $blue_2
        width: 100%
        height: 40px
        border: none
        border-radius: 34px
        padding: 0 18px
        +g-sb
        font-size: 20px
        line-height: 20px
        color: $background
      
      .dropdown
        position: absolute
        background: $back_dropdown
        display: grid
        grid-gap: 14px
        padding: 14px 6px
        left: 0
        top: 50px
        width: 100%
        border-radius: 10px
        .dropdown_link
          display: flex
          align-items: center
          grid-gap: 14px
          .dr_img
            +flex_2
            width: 29px
            height: 26px
          p
            +g-b
            font-size: 15px
            line-height: 15px
            color: $blue_1
    
    .left_link_box_one
      .left_title
        +g-b
        margin-bottom: 22px
        font-size: 25px
        line-height: 25px
        color: $blue_2
      .left_same_links
        display: grid
        grid-gap: 11px
        a
          display: flex
          align-items: center
          grid-gap: 15px
          +g-sb
          font-size: 16px
          line-height: 16px
          transition: color .3s
          color: $leftLinkcolor
          svg
            path
              transition: fill .3s
          &:hover
            color: $blue_2
            svg
              path
                fill: $blue_2

          &.active
            color: $blue_2
            .link_img
              svg
                path
                  fill: $blue_2
          
          &:not(:last-child)
            padding-bottom: 13px
            border-bottom: 1px solid $leftLinkcolor

          .link_img
            +flex_2
            width: 30px
            height: 30px
            svg
              path
                transition: fill .3s
        &.links_second
          margin-top: 85px

    #switch-container
      +flex_1
      grid-gap: 15px
      padding-bottom: 13px
      border-bottom: 1px solid $leftLinkcolor
      .role_img
        +flex_2
        width: 30px
        height: 30px
        flex: none
      
      .role-right
        +flex_1
        grid-gap: 10px
        width: 100%
        p
          +g-sb
          font-size: 14px
          line-height: 14px
          color: $textColor_2


        #toggle-btn
          .round-slider-container
            position: relative
            +flex_1
            justify-content: space-around
            width: 45px
            height: 24px
            background: $background
            box-shadow: inset 2px 2px 2px #D8D8D8
            border-radius: 30px
            cursor: pointer
            .round-slider
              position: absolute
              left: 4px
              top: 2px
              width: 21px
              height: 20px
              border-radius: 30px
              background: $blue_2
              transition: transform .3s
          
          #checkbox-input
            visibility: hidden
            display: none
            &:checked
              + .round-slider-container .round-slider
                transform: translateX(20px)
