.main_principle_data
  max-width: 1000px
  margin: 0 auto
  margin-top: 50px
  margin-bottom: 20px
  a
    color: $linkBlue
    text-decoration: underline
  .head_principle
    margin-bottom: 40px
    display: flex
    flex-direction: column
    grid-gap: 5px
    h1
      color: $textColor
      margin: 0
      +g-sb
      font-size: 40px
      line-height: 49px
    
    p
      +g-r
      font-size: 14px
      line-height: 17px
      color: $textColor

  .body_principle
    p.body_block
      +g-r
      font-size: 18px
      line-height: 26px
      color: $textColor_1
    
    .block_body
      margin-top: 26px
      display: flex
      flex-direction: column
      grid-gap: 10px
      .head_block
        +g-b
        font-size: 25px
        line-height: 26px
        color: $textColor_1

    .block_list
      display: grid
      grid-gap: 8px
      margin-top: 22px
      .list_row
        display: grid
        grid-gap: 15px
        p
          +g-r
          font-size: 18px
          line-height: 25px
          color: $textColor_1
        
        .list_main
          display: flex
          align-items: flex-start
          grid-gap: 15px
          p
            position: relative
            padding-left: 21px
            &::before
              content: ''
              position: absolute
              left: 0
              top: 10px
              width: 6px
              height: 6px
              border-radius: 50%
              background-color: $linkBlue
        
        ul.sublist
          display: grid
          grid-gap: 8px
          padding: 3px 0
          padding-left: 30px
          li
            position: relative
            +g-r
            font-size: 18px
            line-height: 25px
            color: $textColor_1
            padding-left: 21px
            &::before
              content: ''
              position: absolute
              left: 0
              top: 10px
              width: 6px
              height: 6px
              border-radius: 50%
              background-color: $yellow

