.profile
  margin: 35px 0 50px 120px
  max-width: 675px
  form  
    width: 100%
    display: grid
    grid-template-columns: 1fr auto
    grid-gap: 22px

    label
      display: grid
      grid-gap: 6px
      grid-column: 1
      height: max-content
      padding-left: 22px
      color: $textColor_2
      +g-m
      font-size: 12px
      line-height: 12px
      &.image-label
        grid-row: 1
        grid-column: 2
        padding-left: 0
        cursor: pointer
        .profile_img
          position: relative
          width: 120px
          height: 120px
          border: 1px solid $circleImg
          border-radius: 60px

          >img
            width: 100%
            height: 100%
            border-radius: 60px
          .btn_img
            position: absolute
            background: $background
            +flex_2
            width: 36px
            height: 36px
            margin: auto
            left: 0
            right: 0
            bottom: -15px
            border-radius: 50%
        
        input
          position: absolute
          opacity: 0
          z-index: -1
      
      &.phone-label
        display: grid
        grid-template-columns: 1fr auto
        input , a
          grid-row: 2
        
      &:last-child
        margin-top: -3px
      &:not(:last-child):not(.image-label)
        padding-bottom: 6px
        border-bottom: .5px solid $leftLinkcolor
      
      &:nth-of-type(2)
        margin-top: 62px

      input
        background: none
        +g-m
        font-size: 18px
        line-height: 17px
        color: $textColor
        border: none
        outline: none

      .changePassword
        width: max-content
        padding-bottom: 3px
        color: $blue_2
        +g-m
        font-size: 15px
        line-height: 15px
        border-bottom: 1px solid $blue_2
        border-radius: .5px