.modal_rate
  .modal-dialog
    .modal-content
      position: relative
      background: $white
      +flex_2
      width: 435px
      height: 208px
      margin: auto
      border: 1px solid $textColor_2
      border-radius: 15px
      

      .modal_header
        +g-b
        font-size: 20px
        line-height: 20px
        margin-bottom: 14.5px
        color: $textColor
        text-align: center
      .modal_body
        display: grid
        justify-content: center
        grid-gap: 45px
          
        .empty-icons , .filled-icons
          img
            &:not(:last-child)
              margin-right: 16px

        .complain
          +g-m
          font-size: 16px
          line-height: 16px
          color: $borderBlue
          text-align: center
          text-decoration: underline