.reg_log_container
  background: $background
  display: flex
  height: 100vh

  .left_reg_log_container
    position: relative
    +flex_6
    width: 40%
    height: 100%
    background: linear-gradient(208.67deg, #09306D 24.16%, #2196F3 100%)
    padding: 23px 78px 23px calc( (100vw - 1200px) / 2)
    flex: none
    .left_btns
      position: relative
      display: flex
      flex-direction: column
      grid-gap: 40px
      margin-bottom: auto
      z-index: 1
      button
        background: none
        display: flex
        align-items: center
        grid-gap: 7px
        +g-r
        font-size: 16px
        line-height: 16px
        color: $white
        padding: 0
        border: none
        outline: none

    .left_center
      position: relative
      display: grid
      grid-gap: 40px
      align-items: center
      margin-bottom: auto
      z-index: 1
      .center_title
        +g-b
        font-size: 34px
        line-height: 40px
        color: $white
      
      img
        margin: auto

    .left_map
      position: absolute
      max-width: 740px
      max-height: 374px
      bottom: 0
      left: 0
      right: 0
      margin: 0 auto

  .cart-container
    display: flex

  .container-right
    +flex_2
    justify-content: flex-start
    .cart-right
      max-width: 590px
      margin-top: 30px
      p
        text-align: center
      .first_step
        background-color: $white
        padding: 37px 69px 30px
        box-shadow: 4px 4px 10px #F0F0F0
        border-radius: 10px
      
    &.number-check-container
      .first_step
        margin-top: 30px
    
    &.container-password
      .first_step
        margin-top: 12px

  .account-container
    margin-left: 125px
    display: grid
    grid-gap: 30px
    max-width: 450px
    .cart-right
      &.right-same-form-container
        margin: 0
      &.cart-account
        max-width: 450px
    
    
    .account-check-box
      display: grid
      grid-gap: 20px
      margin-top: 56px
      .account-heading
        +flex_1
        .text-account
          p.name
            +g-b
            font-size: 20px
            line-height: 20px
            color: $textColor

          p.status
            +g-r
            font-size: 16px
            line-height: 16px
            color: $textColor_2

  .cart-right
    +flex_3
    width: 100%
    margin: 0 auto
    &.cart-car
      max-width: 510px
      margin: 0 auto
      .first-text
        margin: 0
        text-align: left
      
      .input-submit
        max-width: 325px

    &.right-same-form-container
      width: 426px !important
      margin-left: 200px
    
    &.cart-otp
      width: 387px !important
      margin-left: 160px
      padding: 50px 0
      .title-text
        font-size: 35px
        line-height: 35px
        margin-bottom: 50px
      
      .otp_number_box
        +flex_1
        +g-m
        font-size: 16px
        line-height: 16px
        .left_otp
          color: $textColor
        
        .number
          color: $yellow
      
      .edit_number
        background: transparent
        display: flex
        width: max-content
        margin: 12px 0 48px
        padding: 0
        padding-bottom: 3px
        +g-m
        font-size: 12px
        line-height: 12px
        color: $textColor_2
        border: none
        border-bottom: 1px solid $textColor_2
        outline: none

      .otp_form
        width: 100%
        display: grid
        grid-template-columns: repeat(4,1fr)
        justify-content: space-between
        grid-gap: 20px
        input
          background: $otpInput
          text-align: center
          +flex_2
          width: 100%
          height: 54px
          +g-b
          font-size: 20px
          line-height: 20px
          color: $blue_1
          border-radius: 5px
          border: 0
          outline: none
          &.bordered
            border: 1px solid $blue_1

      .otp_expire_box

        .expire_heading
          display: flex
          align-items: center
          grid-gap: 35px
          margin: 45px 0 10px
          +g-m
          font-size: 14px
          line-height: 14px
          .wrapper
            p
              color: $yellow
            .cardBody
              p
                color: red

        button.resendOtp
          background: none
          padding-bottom: 2px
          padding: 0
          +g-r
          font-size: 18px
          line-height: 18px
          color: $blue_2
          border: none
          border-bottom: 1px solid $blue_2

    &.right-same-form-container-2
      width: 508px !important
      margin-left: 200px
      .title-text
        font-size: 30px
        line-height: 30px
        margin-bottom: 13px
      .second-text
        +g-m
        font-size: 14px
        line-height: 14px
        color: $textColor_2
        text-align: left
      .yellow_form
        margin-top: 27px

    .first_step
      margin-top: 57px

    .radio_form
      margin-top: 30px
  
    .first-text
      margin-bottom: 18px
      +g-b
      font-size: 35px
      line-height: 35px
      color: $textColor
      text-align: center
    
    .second-text
      +g-r
      font-size: 12px
      line-height: 12px
      color: $blue_2
      text-align: center
    
    .title-text
      +g-b
      font-size: 40px
      line-height: 40px
      color: $textColor
    
    .nav-tabs
      justify-content: center
      grid-gap: 20px
      border: none
      li.nav-item
        width: 215px
        height: 56px
        button
          background: $white
          width: 100%
          height: 100%
          +g-b
          font-size: 20px
          line-height: 20px
          color: $textColor
          border-radius: 20px 20px 0 0
          box-shadow: 4px 4px 10px #F0F0F0
          border: none
          &.active
            border: 1px solid $textColor

    .tab-content
      position: relative
      background: $white
      width: 590px
      margin: -8px auto 0
      padding: 37px 68px 17px
      border-radius: 10px
      box-shadow: 4px 4px 10px #F0F0F0
      .form-group
        grid-gap: 22px
    
    .img-avatar
      width: 133px
      height: 133px
      margin: 0 auto
      img
        width: 100%
        border-radius: 50%

    .yellow_form
      margin-top: 30px
      .form-group
        .input-container
          align-items: center
          grid-gap: 9px
          span
            &:nth-of-type(1)
              color: $yellow
              margin-top: 11px
              +g-b
              font-size: 25px
              line-height: 25px