@media screen and ( max-width: 1200px)
  .main_principle_data
    margin-top: 56px
    margin-bottom: 35px
    .head_principle
      grid-gap: 9px
      margin-bottom: 30px
      .block_body 
        margin-top: 25px
      
      h1
        font-size: 36px
        line-height: 36px
    
    .body_principle
      .block_body 
        .head_block
          font-size: 22px
          line-height: 26px
      .block_list 
        .list_row
          grid-gap: 10px
          p
            font-size: 16px
            line-height: 22px
          ul.sublist 
            li 
              font-size: 16px
              line-height: 22px
      p.body_block
        font-size: 16px
        line-height: 24px

  header
    .box-header-links , .reglog_box
      grid-gap: 20px
      margin-right:  20px

  .notFound_box 
    img
      max-width: 750px !important
    p
      font-size: 23px !important
      line-height: 23px !important

  .contact 
    .contact_main_container 
      .left_contact
        padding-left: calc((100vw - 960px) / 2)
      .right_contact
        padding-right: calc((100vw - 960px) / 2)
        .center_right
          max-width: 390px
          grid-gap: 35px
          p
            font-size: 30px
            line-height: 30px

  .guest_container
    .guest_right .accordion
      max-width: 600px
    .left-simplebar 
      .simplebar-content-wrapper
        .simplebar-content
          .guest_left
            .left_same_box
              margin-left: calc((100vw - 960px) / 2)

@media screen and ( max-width: 991px)
  .main_principle_data
    margin-bottom: 55px
    .head_principle
      h1
        font-size: 32px
        line-height: 32px

    .body_principle
      .block_body
        .head_block
          font-size: 20px
          line-height: 25px
      .block_list
        .list_row
          p
            font-size: 14px
            line-height: 22px
          ul.sublist
            padding-top: 0
            padding-bottom: 0
            li
              font-size: 14px
              line-height: 22px
      p.body_block
        font-size: 14px
        line-height: 22px

  header
    .header-main-container
      min-height: unset
      +flex_1
      >a
        >img
          width: 150px
      .box-header-links, .reglog_box ,.languages_box
        display: none
      
      .hamburger-menu
        display: flex

  .notFound_box
    img
      max-width: 600px !important
    p
      font-size: 21px !important
      line-height: 21px !important

  .contact
    .contact_main_container
      display: flex
      flex-direction: column-reverse
      min-height: unset
      max-height: unset
      .left_contact
        padding: 80px calc((100vw - 720px) / 2) 65px
        .contact_center
          margin: 0 0 130px
          max-width: unset
          .contact_row
            align-items: center

        .contact_social
          justify-content: center

        .goBack
          display: none

      .right_contact
        background: url('./img/world.png') , linear-gradient(208.67deg, #09306D 24.16%, #2196F3 100%)
        background-position: center
        background-size: contain
        padding: 20px calc((100vw - 720px) / 2)
        align-items: unset
        justify-content: unset
        flex-direction: column
        grid-gap: 40px
        .center_right
          max-width: 350px
          grid-gap: 25px
          p
            font-size: 24px
            line-height: 24px
          img
            width: 85px
            height: 85px

        .goBack
          display: flex
          color: $white
          img 
            filter: brightness(0) invert(1)

    .absolute_contact
      display: none

  .guest_container
    grid-template-columns: 1fr
    height: unset
    .left-simplebar
      .simplebar-content-wrapper 
        .simplebar-content 
          .guest_left
            margin: 0 calc( (100vw - 720px) / 2)
            padding: 0
            flex-direction: row
            box-shadow: none
            .left_same_box
              padding: 26.5px 0
              grid-gap: 7px
              align-items: center
              button
                margin: 0
              .order_left_body
                display: none

@media screen and ( max-width: 768px)
  .main_principle_data
    margin-bottom: 65px
    .head_principle
      h1
        font-size: 28px
        line-height: 28px
    
    .body_principle
      .block_body 
        .head_block
          font-size: 18px
          line-height: 22px

  header
    .header-main-container
      +flex_1
      >a
        >img
          width: 130px

  footer 
    .footer_container
      grid-gap: 25px

  .notFound_box 
    padding: 0
    grid-gap: 5px
    img
      max-width: 600px !important
    p
      font-size: 18px !important
      line-height: 18px !important

  .contact 
    .contact_main_container
      .left_contact
        padding: 80px calc((100vw - 540px) / 2) 65px

      .right_contact
        padding: 20px calc((100vw - 540px) / 2)
        .center_right
          max-width: 350px
          p
            font-size: 22px
            line-height: 26px
          img
            width: 75px
            height: 75px

        .goBack
          font-size: 14px
          line-height: 14px
          grid-gap: 3px

@media screen and ( max-width: 576px)
  .breadcrumbs
    margin-top: 17px
    padding: 0 25px

  .main_principle_data
    margin-bottom: 75px
    padding: 0 25px
    .head_principle
      h1
        font-size: 25px
        line-height: 25px
    
    .body_principle
      .block_body 
        .head_block
          font-size: 18px
          line-height: 22px

      .block_list 
        .list_row 
          ul.sublist
            padding-left: 15px

  header
    padding: 23px 25px
    
    .header-main-container
      padding: 0
      +flex_1
      >a
        >img
          width: 125px

  footer 
    padding: 30px 0 10px
    .footer_container
      display: grid
      grid-template-columns: 1fr 1fr
      grid-gap: 30px
      padding: 0 25px
      .footer_left
        p
          display: none
        
        a
          svg
            min-width: 27px
            min-height: 27px
          
          &:last-child
            svg
              min-width: 36px
              min-height: 30px
      
      .footer_center 
        .downloadFile
          justify-content: space-between
        
      .footer_company
        grid-column-start: 1
        grid-column-end: 3
        justify-content: space-between
        align-items: flex-end
        grid-gap: 10px
        p
          display: flex

  .notFound_box
    padding: 0 20px
    margin: 190px 0 170px
    img
      max-width: 100%
    p
      font-size: 16px !important
      line-height: 16px !important

  .contact 
    .contact_main_container
      .left_contact
        padding: 80px 25px 65px

      .right_contact
        padding: 20px 25px 20px
        .center_right
          max-width: 320px
          p
            font-size: 20px
            line-height: 25px
          img
            width: 68px
            height: 68px

        .goBack
          font-size: 12px
          line-height: 12px

@media screen and ( max-width: 450px)
  footer 
    padding: 48px 0 10px
    .footer_container
      grid-template-columns: 1fr

      .footer_left 
        .social_footer_box
          +flex_2
          grid-gap: 20px

      .footer_center
        grid-row-start: 1
        grid-gap: 4px
        p
          font-size: 9px
          line-height: 9px
        .downloadFile
          display: grid
          grid-template-columns: 1fr 1fr
          grid-gap: 25px
          justify-content: unset
          a
            img
              height: 48px
              width: 100%

      .footer_company
        grid-column: unset 
        a
          img
            margin-bottom: 11px
          span
            max-width: 55px
            font-size: 9px
            line-height: 9px