@import './css/_fonts'
@import './css/_fonts_face'
@import './css/_vars'
@import './css/_header'
@import './css/_footer'
@import './css/_home'
@import './css/_guest'
@import './css/_principle'
@import './css/_contact'
@import './css/_order'
@import './css/_broker'
@import './css/_loads'
@import './css/_innerLoad'
@import './css/_ratePop'
@import './css/_notifications'
@import './css/_complain'
@import './css/_driver'
@import './css/_bid'
@import './css/_profile'
@import './css/_history'
@import './css/_reg_log'
@import './css/_responsive'


*
  box-sizing: border-box
a
  text-decoration: none
  transition: color .3s
  &:hover
    color: $yellow

h1 , p ,ul , h2
  margin: 0
  padding: 0
  word-break: break-word


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button 
  -webkit-appearance: none
  margin: 0QQQQQQQQQQQQQQQQQQ 

/* Firefox */
input[type=number] 
  -moz-appearance: textfield


@media screen and ( min-width: 1220px  )
  .container
    max-width: 1200px
  
  .main_theme_container
    background: $background
    max-width: 1200px
    margin: 0 auto
    .leftBar
      // margin-left: calc( (100vw - 1200px) / 2 )
      padding-right: 35px

.main_container
  margin: 70px 30px 45px 100px
  .main_title
    +g-b
    font-size: 20px
    line-height: 20px
    color: $textColor

ul
  list-style-type: none

.App
  display: flex
  flex-direction: column
  min-height: 100vh
  background: $background

.notFound_box
  display: flex
  flex-direction: column
  align-items: center
  margin: 140px 0 100px
  img
    max-width: 990px
    width: 100%
  p
    +g-b
    font-size: 25px
    line-height: 26px
    color: $blue_1

.breadcrumbs
  display: flex
  align-items: center
  grid-gap: 11px
  margin-top: 13px
  +g-m
  font-size: 12px
  line-height: 15px
  a
    color: $textColor  
  span
  color: #1565C0

.swiper-mock
  a
    text-decoration: none
  .swiper
    .swiper-slide
      p
        margin-bottom: 0
      .swiper_inner_container
        box-sizing: border-box
        border-radius: 16px
        .swiper_head
          background-color: $white
          display: flex
          align-items: flex-start
          justify-content: space-between
          grid-gap: 30px
          padding: 16px 18px 8px
          box-shadow: 4px 4px 8px rgba(233, 236, 239, 0.4)
          border-radius: 16px 16px 0 0
          
        .swiper_body
          padding: 0 15px
          border-radius: 0 0 16px 16px
          background-color: $backGray
          border: 3px solid $white
          .swiper_body_inner
            display: flex
            border-top: 1px solid $blue_2
            padding: 21px 0 9px
            .loc_box
              display: flex
              flex-direction: column
              grid-gap: 3.5px
              align-items: center
              .line
                background-color: $blue_2
                width: 1px
                height: 52px
            
            .position_box
              display: flex
              flex-direction: column
              justify-content: space-between
              margin-left: 8px
              .same_pos_box
                display: flex
                flex-direction: column
                grid-gap: 3px
                .same_city
                  +g-b
                  font-size: 14px
                  line-height: 14px
                  color: $textColor

                .same_place
                  +g-r
                  font-size: 10px
                  line-height: 10px
                  color: $textColor_2

              .distance
                position: relative
                +g-b
                font-size: 10px
                line-height: 10px
                color: $yellow
                .timeline
                  position: absolute
                  background-color: $white
                  width: 6px
                  height: 6px
                  border-radius: 50%
                  border: 1px solid $yellow
                  left: -21px
                  top: 1px
                  &::before
                    content: ''
                    position: absolute
                    background-color: $yellow
                    height: .5px
                    width: 7px
                    left: 100%
                    top: 2px

.circleImg
  width: 40px
  height: 40px
  border-radius: 50%
  border: .5px solid $circleImg

.loads_table
  display: grid
  grid-gap: 15px
  .body_row
    +flex_1
    padding-bottom: 15px
    border-bottom: .5px solid $leftLinkcolor
    border-radius: .5px
    p
      +g-m
      font-size: 14px
      line-height: 14px
      &.row_left
        color: $blue_1
      
      &.row_right
        color: $blue_2

.btn_blue
  +flex_2
  background-color: $borderBlue
  width: max-content
  min-width: 122px
  height: 40px
  padding: 0 6px
  margin-left: auto
  border-radius: 34px
  color: $background
  +g-b
  font-size: 16px
  line-height: 16px
  border: 0
  outline: none

.btn_blue_3
  background: $blue_1
  +flex_2
  +g-b
  font-size: 12px
  line-height: 12px
  color: $white
  border-radius: 5px
  transition: all .3s
  &:hover
    background: $blue_2
    color: $white

.btn_blue_border
  background: transparent
  +flex_2
  height: 40px
  padding: 0 32px
  +g-b
  color: $borderBlue
  border: 1px solid $borderBlue
  border-radius: 34px

.btn_default
  background: transparent
  border: none
  outline: none
  padding: 0 28px
  +g-sb
  color: $leftLinkcolor
  text-decoration: underline

.yellow_btn
  +flex_2
  height: 40px
  border-radius: 34px
  min-width: 160px
  width: max-content
  border: 1px solid $yellow
  +g-b
  font-size: 16px
  line-height: 16px
  color: $yellow

.white_blue
  background: transparent
  +flex_2
  border-radius: 5px
  outline: none
  +g-b
  font-size: 16px
  line-height: 20px
  height: 40px
  border: 1px solid $borderBlue
  color: $borderBlue
  transition: all .3s
  &:not([disabled]):hover
    background: $borderBlue
    color: $white
  &[disabled]
    border: 1px solid $textColor_2
    color: $textColor_2

.white_blue_2
  +flex_2
  background: transparent
  height: 34px
  border: 1px solid $blue_1
  border-radius: 5px
  outline: none
  +g-b
  font-size: 12px
  line-height: 12px
  color: $blue_1
  transition: all .3s
  &:hover
    background: $blue_1
    color: $white

.text-clamp
  max-height: 32px
  max-width: 215px
  +g-b
  font-size: 16px
  line-height: 16px
  color: $textColor
  word-break: break-word
  overflow: hidden
  text-overflow: ellipsis
  display: -webkit-box
  -webkit-box-orient: vertical
  -webkit-line-clamp: 2

.text-date
  min-width: 60px
  +g-m
  font-size: 10px
  line-height: 12px
  color: $textColor_2

.text-price
  display: flex
  align-items: baseline
  grid-gap: 2px
  +g-b
  font-size: 14px
  line-height: 14px
  color: $textColor

button.close
  position: absolute
  background-color: $closeGray
  +flex_2
  width: 20px
  height: 20px
  right: 12px
  top: 12px
  border: 0
  outline: none
  border-radius: 50%

.modal-backdrop
  background: $white
  &.show
    opacity: .9
    
.modal_list
  .modal-content
    max-width: 435px
    padding: 37px 50px
    margin: auto
    color: $textColor
    border-radius: 20px
    border: 1px solid $textColor_2
    outline: none
    .modal_header
      +g-b
      font-size: 18px
      line-height: 18px
      margin-bottom: 17px
      padding-bottom: 17px
      border-bottom: .5px solid $leftLinkcolor
    
    .modal_body
      display: grid
      grid-gap: 17px
      label
        +flex_1
        padding-bottom: 17px
        +g-r
        font-size: 16px
        line-height: 16px
        border-bottom: .5px solid $leftLinkcolor
        cursor: pointer

.standart_form
  display: grid
  grid-gap: 15px

.form-group
  display: grid
  grid-gap: 5px
  .input-container
    +flex_1
    width: 100%
    input
      background: transparent
      width: 100%
      +g-m
      font-size: 18px
      line-height: 18px
      color: $textColor
      border-radius: 10px
      border: none
      outline: none
  
  .error-message
    +g-m
    font-size: 14px
    line-height: 14px
    color: red
    padding-left: 45px

  .custom-select
    width: 100%
    border: none
    outline: none
    cursor: pointer
    .css-qc6sy-singleValue , .css-6j8wv5-Input
      +g-m
      font-size: 16px !important
      line-height: 16px !important
      color: $textColor !important
    
    .css-319lph-ValueContainer
      padding: 0
    
    .css-1pahdxg-control
      background: transparent
      outline: none
      border: none
      box-shadow: none

    .css-1s2u09g-control
      background: transparent
      border: none
      outline: none
      .css-319lph-ValueContainer
        outline: none
        padding: 0 
        margin: 0
        
    .css-1okebmr-indicatorSeparator
      display: none
    
    .css-tlfecz-indicatorContainer ,  .css-1gtu0rj-indicatorContainer
      padding: 0
      transform: rotate(-90deg)
      .css-tj5bde-Svg
        fill: unset

.form-select
  background-color: transparent
  background-image: url('../public/img/right.svg')
  background-repeat: no-repeat
  background-position: right 0.75rem center
  background-size: 16px 12px
  width: 100%
  outline: none
  border: none
  padding: 0
  margin: 0
  &:focus
    border: none
    box-shadow: none

.radio-form-group
  +flex_1
  cursor: pointer

.label-file
  position: relative
  width: 100%
  cursor: pointer
  .input-file
    position: absolute
    opacity: 0
    z-index: -1
    left: 0
  
  &::after
    content: ''
    position: absolute
    background-image: url('../public/img/file.svg')
    background-size: cover
    background-position: center
    width: 12.5px
    height: 17.5px
    right: 0
    top: 0
    right: 0

.input-same
  background: $backGray
  width: 100%
  height: 50px
  padding: 17px 25px
  +g-m
  font-size: 18px
  line-height: 18px
  color: $textColor
  border-radius: 10px
  border: none
  outline: none

.input-submit
  background: $blue_2
  +flex_2
  width: 100%
  height: 50px
  +g-sb
  font-size: 20px
  line-height: 20px
  color: $white
  border: none
  outline: none
  border-radius: 10px
  transition: background .3s
  &:hover
    background: $borderBlue
  
  &.input-submit-2
    background: $borderBlue
    &:hover
      background: $blue_2

.forget
  display: flex
  justify-content: flex-end
  width: max-content
  margin-top: 8px
  margin-left: auto
  +g-sb
  font-size: 12px
  line-height: 16px
  color: $blue_2

p.prefix
  +g-m
  font-size: 18px
  line-height: 18px
  color: $textColor

.select-box--box 
  min-width: 95px
  width: max-content
  position: relative
  .select-box--container 
    display: flex
    align-items: center
    grid-gap: 8px
    cursor: pointer

    .select-box--selected-item
      display: flex
      align-items: center
      grid-gap: 8px
      img
        width: 26px
        height: 20px

    .select-box--arrow
      +flex_2
      img
        transition: transform .3s
      &.up
        img
          transform: rotate(180deg)
      &.down
        img
          transform: rotate(360deg)
    .select-box--items 
      position: absolute
      left: 0
      top: 103%
      width: 100%
      max-height: 150px
      overflow: hidden auto
      background: $white
      border-radius: 5px
      opacity: 0
      visibility: hidden
      transition: all .3s
      &.active
        opacity: 1
        visibility: visible
      >div
        display: flex
        align-items: center
        grid-gap: 8px
        padding: 3px
        cursor: pointer
        transition: all .3s
        &:hover
          background: $textColor
          border-radius: 5px
          p.prefix
            color: $white
        img
          width: 26px
          height: 20px
        p.prefix
          +g-m
          font-size: 18px
          line-height: 18px
          color: $textColor

.operation_btns
  position: relative
  background: #FAFAFA
  border-radius: 5px
  display: grid
  grid-template-columns: 1fr 1fr
  grid-gap: 6px
  justify-content: space-between
  width: 152px
  margin: 0 auto
  button
    height: 40px
    +flex_2
    background: transparent
    border: none
    outline: none

  &::after
    position: absolute
    content: ''
    opacity: .5
    height: 20px
    width: 1px
    background: $blue_2
    left: 50%
    top: 50%
    transform: translate(-50% , -50%)

.map_mer
  position: relative !important
  width: 100%
